@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

*{
    font-family: 'Poppins', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.header {
    background: #7ab8ff;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.game {
    border-radius: 20px;
    border: 2px solid black;
    align-items: center;
    background: white;
    padding: 20px;
    height: 95vh;
}

.game h2, #scoreFinale {
    text-align: center;
}

.game-icones {
    display: flex;
    margin: 20px 0;
    height: 300px;
    border-radius: 20px;
}


.bttn {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #808080;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.btn {
    display: flex;
    gap: 25px;
    flex-direction: column;
    width: 200px;
    padding: 20px;
}

.btn button {
    background: rgb(121, 184, 255);
    border: 1px solid rgb(121, 184, 255);
    padding: 10px;
    border-radius: 100px;
    font-size: 15px;
    color: white;
    cursor: pointer;
}

.btn button:focus {
    background: white;
    border: 1px solid rgb(121, 184, 255);
    color: rgb(121, 184, 255);
    transition: .9s;
}

.participant {
    display: flex;
    justify-content: space-between;
    flex: 1;
    padding: 5px 20px;
    background: rgb(121, 184, 255);
    color: white;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

.participant .vs {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
}

.participant .bloc {
    padding: 10px 0;
    font-weight: 900;
    height: 210px;
}

.user, .computer {
    text-align: center;
    padding: 20px 0;
    width: 150px;
}

.bloc, .icones {
    padding-right: 10px;
}

.user .puce, .computer .puce {
    display: flex;
    
}

.user #userLibelle, .computer #computerLibelle {
    padding-left: 35px;
}

.score {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    font-weight: 900;
}

.user #userScore, .computer #computerScore {
    padding: 0 3px;
}

.images {
    margin: 10px 0;
    border: 1px solid black;
    width: 100px;
    height: 100px;
    text-align: center;
    border-radius: 8px;
}
 
#messageBox, #messageBox1 {
    font-weight: 900;
    text-align: left;
    padding: 0 3px;
    width: 420px;
}

.etat {
    display: flex;
    justify-content: left;
    align-items: center;
    height: 35px;
}

#resetButton {
    background: rgb(121, 184, 255);
    border: 1px solid rgb(121, 184, 255);
    padding: 10px;
    border-radius: 100px;
    font-size: 15px;
    color: white;
    cursor: pointer;
    width: 100px;
}
.game .finalScore {
    display: flex;
    justify-content: left;
    align-items: center;
}

.finalScore .endScore {
    display: flex;
    justify-content: left;
    align-items: center;
    height: 35px;
    width: 250px;
}

.endScore #scoreFinale {
    font-weight: 900;
    padding: 0 3px;
}
